.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

input {
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
  margin: 5px;
}

button {
  width: 300px;
  height: 30px;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
  background-color: lightblue;
}

.tenants {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.update-form input {
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding-left: 5px;
  margin: 5px;
}

.update button {
  size: 1px;
}