<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/style.css">
<style>
    body {
        background-image: url("static/wallpaper.jpg");
        background-repeat: no-repeat;
        background-size: 100%
    }
</style>


<head>
    <title>Amazon Product Scraper</title>
</head>

<body>
    <link rel="stylesheet" href="static/style.css">
    <h1>This is the Amazon Product Detail page</h1>
    <div>
        {% for item in prices %}
        {% for key, value in item.items() %}
        <h2>Key: {{key}}</h2>
        <h2>Value: {{value}} </h2>

        {% endfor %}
        <br />
        ______________________________
        {% endfor %}
    </div>


</body>

</html>