@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.greeting {
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
    width: 35%;
    padding: 10px;
    margin-left: 885px;
}

.home {
    margin-bottom: 923px;
}


.navbar {
    padding: 35px;
    display: flex;
    align-items: center;
    max-width: 32%;
    margin: auto;
    justify-content: space-between;
    border-bottom: 2px solid #00020a;
}

.navbar h1 {
    color: #000000;
    font-size: large;
    font-weight: bold;
}

.nav-links {
    color: black;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: black;
    background-color: #dedddd;
    border-radius: 8px;
}

.navbar a:hover {
    color: #7d7e82;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.tenantform-break {
    margin-top: 555px;
}

.contactform-break {
    margin-top: 530px;
}

form {
    padding: 2rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 23.75rem;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.first-form {
    float: left;
    margin-left: 770px
}

.second-form {
    float: right;
    margin-right: 770px;
}

.contact-forms {
    margin-top: 30px;
}

.add-tenant {
    margin-top: 62px;
}

.tenant-list h2 {
    color: white
}

.update-form {
    background-color: white;
}